@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #CED4DA;
}

a {
    text-decoration: none;
    color: #495057;
}

.orange {
    color: #CB7F3C;
}

.blue {
    color: #094267;
}

#tarjeta-naranja {
    border: 1px solid #CB7F3C;
}

#tarjeta-azul {
    border: 1px solid #094267;
}

.add-user {
    background: #094267;
}

.add-user:hover {
    background: #46718D;
    color: #FFF;
}

.add-activitie {
    background: #094267;
}

.add-activitie:hover {
    background: #46718D;
    color: #FFF;
}

.btn-agregar {
    background: #094267;
}

.btn-agregar:hover {
    background: #46718D;
    color: #FFF;
}

.btn-actualizar {
    background: #28A745;
}

.btn-actualizar:hover {
    background: #45c964;
    color: #FFF;
}

.btn-terminar-act {
    background: #28A745;
}

.btn-terminar-act:hover {
    background: #45c964;
    color: #FFF;
}

.btn-terminar-encuesta {
    background: #28A745;
}

.btn-terminar-encuesta:hover {
    background: #45c964;
    color: #FFF;
}

.btn-cancelar {
    background: #DC3545;
}

.btn-cancelar:hover {
    background: #ec6472;
    color: #FFF;
}

.btn-salir {
    background: #DC3545;
}

.btn-salir:hover {
    background: #ec6472;
    color: #FFF;
}

h1 {
    color: #495057;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario-container {
    width: 25%;
    margin: auto;
}

.btn {
    margin: auto;
    margin-top: 40px;
    color: #FFF;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 6px;
}

/* Barra de navegación */
.color-encabezado {
    background: #CB7F3C;
}

.color-texto {
    color: #343A40;
}

.btn-encabezado {
    background: none;
    border: none;
    color: #fff;
    padding: 0;
}

.navbar-nav {
    display: flex;
    justify-content: center;
}  

.usuario {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
  
.usuario-conainer {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
  
.usuario-conainer li {
    margin: 0 10px;
}
  
.usuario-conainer p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}

.usuario-conainer li, .usuario-conainer p, .btn-encabezado {
    height: 40px;
    display: flex;
    align-items: center;
}

/* iconos */
i {
    font-size: 25px;
}

/* estilos del contenido del sidebar */
.offcanvas-body {
    width: 100%;
    padding: 0;
}

a {
    text-decoration: none;
}
/* Body pagina principal */
img {
    margin-bottom: 110px;
}

/* body modulo del administrador usarios */
.container-modulos {
    width: 100%;
    padding: 100px;
}

.title h1 {
    text-align: left;
    font-size: 35px;
}

.btn-action {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 6px;
    color: #FFF;
}

.editar {
    background: #28A745;
}

.editar:hover {
    background: #45c964;
}

.eliminar {
    background: #DC3545;
}

.eliminar:hover {
    background: #ec6472;
}

.details{
    background: #17A2B8;
}

.details:hover {
    background: #41c4d8;
}

/* estilos de las cards */
.card-titulo {
    padding: 20px;
    color: #212529;
    font-size: 18px;
    background: #F8F9FA;
    border-bottom: 1px solid #DEE2E6;
}

.card-contenido {
    padding: 20px;
    background: #FFF;
}

.main-container-cards {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    margin: 0;
    padding: 0;
}

.tarjeta {
    width: 320px;
    height: 250px;
    margin-top: 60px;
    background: #FFF;
}

.tarjeta:hover {
    cursor: pointer;
}

/* estilos del formulario del modulo de actividades */
.main-container-form-activities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    box-sizing: border-box;
}

.form-control, .form-select {
    width: 100%;
}

.formulario, .area-descripcion {
    width: 50%;
}

textarea {
    height: 200px;
}

/* estilos del formulario del modulo de actividades asignadas */
.content-signature {
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    width: 100%;
    height: 300px;
}